@{
    ViewBag.Title = ViewBag.NomMenu;
    Layout = "~/Views/Shared/_LayoutBoletoElectronico.cshtml";
}
<link href="~/css/tooltipster.css" rel="stylesheet" />
<script src="~/Scripts/jquery.tooltipster.js"></script>
<script src="~/Scripts/Print.js@("?v="+ DateTime.Now.ToString("yyyyMMddhmmss"))"></script>
<script src="~/Scripts/aes.js"></script>
<script src="~/Scripts/Entidades/ImpresionDocumentos.js@("?v="+ DateTime.Now.ToString("yyyyMMddhmmss"))"></script>

<style>
    @* DIALOG REGISTRO CODIGO *@
    label{
        display: inline-block;
        width: 80px;
    }   

    .labelInput{
        margin-top: 20px;
        margin-left: 12px;
    }

    .labelInput>input{
        width: 200px;
        margin: -32px 10px 10px 83px;
    }
</style>
<style>
    .contenid-pedido {
        display: flex;
        flex-wrap: wrap;
        width: 800px;
        padding: 20px;
        gap: 20px 0px;
    }

    .contenid-pedido > div {
        display: flex;
        flex-direction: row;
        align-items: center
    }

    .contenid-pedido > div > div {
    }

    .contenid-pedido > div > span {
        width: 120px
    }

    .w-84 {
        width: 85%;
    }

    .icon-f {
        justify-content: space-between
    }

    .icon-date {
        font-size: 18px;
        margin-left: 12px;
        margin-right: 12px;
    }

    .table > tbody > tr > td {
        vertical-align: middle;
    }

    .ui-autocomplete-loading {
        background: white url("../Content/Img/ui-anim_basic_16x16.gif") right center no-repeat;
    }

    .ui-autocomplete {
        z-index: 205;
        border: 1px solid;
        display: none;
        /*width: 650px;*/
        width: 100px;
        max-height: 200px;
        overflow: auto;
    }
</style>

<div id="divParametros" class="sombraFueraDeMapa">
    <div style="float:right; margin-top: 8px">
        <div id="divInputBusqueda" class="active" style="width: 39px;">
            <input id="txtBuscar" type="text" placeholder="Búsqueda" autocomplete="off" />
            <input type="text" placeholder="Búsqueda" style="display:none" autocomplete="off" />
        </div>
        <div id="divBtnBuscar">
            <button id="btnBusquedaTabla" class="infoBusqueda tooltipstered">
                <i class="fa fa-search" aria-hidden="true"></i>
            </button>
        </div>
    </div>
    <div style="float: left" class="margenDivParametros">
        <i class="fas fa-globe"></i>
        <select id="select-filtro-consulta">
            <option value="0">Rango de Fechas</option>
            <option value="1">Consolidado</option>
        </select>

        <i title="Fecha Inicio" class="fa fa-calendar RangoFecha" aria-hidden="true" style="font-size: 18px; cursor: pointer; margin-left: 10px;"></i>
        <input title="Fecha " type="text" class="RangoFecha date" id="input-fecha-inicio" autocomplete="off" style="width: 105px;margin-left:10px" value="@DateTime.Now.AddDays(-7).ToString("dd/MM/yyyy")" readonly />
        <i title="Fecha Fin" class="fa fa-calendar RangoFecha" aria-hidden="true" style="font-size: 18px; cursor: pointer; margin-left: 10px;"></i>
        <input title="Fecha " type="text" class="RangoFecha date" id="input-fecha-fin" autocomplete="off" style="width: 105px;margin-left:10px" value="@DateTime.Now.ToString("dd/MM/yyyy")" readonly />

        <i title="Estado" class="fas fa-check-circle" style="margin-left:10px"></i>
        <div class="" style="display:inline-block!important;position: relative;top: 8px;margin-right:10px">
            <div class="" style="width:100px !important;">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="button-group">
                            <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" style="height:28px">
                                <span style="font-family: inherit; font-size: inherit;font-size:14px">ESTADOS</span>
                                <span class="caret"></span>
                            </button>
                            <ul id="select-estado" class="dropdown-menu"></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <i class="fas fa-user"></i>
        <select id="select-filtro-cliente" style="width: 300px"></select>

        <button title="Procesar" id="btn-procesar" type="button" style="margin-right: 8px; background-color: #3286ecb5;">
            <i id="icon-cargar" class="fa fa-spinner fa-spin" style="display: none; color: #fff; font-size: 20px;margin-right:2px"></i>
            <i class="fa fa-chevron-right" aria-hidden="true" style="font-size: 20px; color: white;"></i>
        </button>

        <button id="btn-nuevo" class="btn btn-default">
            Nuevo
        </button>
    </div>
    <div id="DivlblTitulo">
        <h2 id="lblTitulo" style="margin-top: 15px;">@ViewBag.NomMenu.Split('|')[0]</h2>
    </div>
</div>

<div id="divTablas" style="overflow:auto">
    <table id="tabla-pedidos" class="highlight responsive-table table">
        <thead>
            <tr>
                <th data-sort="int" class="thPequenio" style="text-align:center;width:30px">N</th>
                <th data-sort="string" class="thGrande" style="text-align:center;width:80px">FECHA</th>
                <th data-sort="string" class="" style="text-align:center;width:100px!important">DOCUMENTO</th>
                <th data-sort="string" class="thGrande" style="width:100px">CLIENTE</th>
                <th data-sort="string" class="thGrande sorting-asc" style="width:80px">COMENTARIO</th>
                <th data-sort="string" class="thGrande" style="text-align:center;width:300px">F. ATENCIÓN</th>
                <th data-sort="string" class="" style="text-align:center; width:80px">U. ATENCIÓN</th>
                <th data-sort="string" class="" style="text-align:center; width:100px">ESTADO</th>
                <th style="width:100px"></th>
                <th style="width:50px"></th>
                <th style="width:50px"></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

<div id="dialog-pedidos">
    <div class="contenid-pedido">
        <div style="position: absolute; right: 10px; top: 10px;">
            <span style="width: 80px; font-weight: bold;">Proforma </span>
            <input id="input-proforma" class="form-control" style="width:160px; height:30px; text-align: center" cod-proforma="0"/>
            <div style="margin-left: 10px">
                <button id="btn-agregar-productos" title="Agregar a los productos actuales" class="btn btn-dialog btn-success"><i class="fas fa-cart-plus"></i></button>
                <button id="btn-reemplazar-productos" title="Reemplazar a los productos actuales" class="btn btn-dialog btn-primary"><i class="fas fa-sync-alt"></i></button>
            </div>
        </div>

        <div style="width: 100%; margin-top: 30px">
            <span>Empresa</span>
            <div class="w-84">
                <input id="input-cliente" class="form-control" cod-cliente="0"/>
            </div>
        </div>
        <div style="width: 100%">
            <span title="Dirección de entrega">Dirección</span>
            <div class="w-84">
                <input id="input-direccion-entrega" class="form-control" />
            </div>
        </div>
        <div style="width: 100%">
            <span title="Encargado Pedido">Solicitante</span>
            <div class="w-84">
                <input id="input-personal-cliente" class="form-control" />
            </div>
        </div>
        <div class="icon-f" style="width: 50%">
            <span>F. Recepción</span>
            <div style="width: 58%;">
                <input id="input-fecha-recepcion" class="form-control date" value="@DateTime.Now.ToString("dd/MM/yyyy")"/>
            </div>
            <i class="fas fa-calendar-alt icon-date"></i>
        </div>
        <div class="icon-f" style="width: 50%">
            <input title="Ingresar Fecha Entrega" style="margin: 0 10px 0 0" type="checkbox" id="input-check-fecha-entrega" checked/>
            <span class="fecha-entrega">F. Entrega</span>
            <div class="fecha-entrega" style="width: 58%;">
                <input id="input-fecha-entrega" class="form-control date" value="@DateTime.Now.ToString("dd/MM/yyyy")"/>
            </div>
            <i class="fas fa-calendar-alt icon-date fecha-entrega"></i>
        </div>
        <div style="width: 100%; height: 180px; overflow: auto; align-items: start;">
            <div style="width:100%; max-height: 100%;"> 
                <table id="tabla-pedidos-detalle" class="highlight responsive-table table">
                    <thead>
                        <tr>
                            <th data-sort="int" class="thPequenio" style="width:30px">N</th>
                            <th>Producto</th>
                            <th style="width: 80px;"></th>
                            <th style="text-align: center">Cantidad</th>
                            <th style="width: 50px;"></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
        <div style="width: 100%; flex-direction: column; align-items: start">
            <span>Comentario:</span>
            <textarea id="text-comentario" class="form-control" value="">

            </textarea>
        </div>
    </div>
</div>

<div id="dialog-ventas-pedido">
    <div>
        <table id="tabla-ventas-pedido" class="highlight responsive-table table">
            <thead>
                <tr>
                    <th data-sort="int" class="thPequenio" style="text-align:center;width:30px">N</th>
                    <th data-sort="string" class="thGrande" style="text-align:center;width:80px">FECHA</th>
                    <th data-sort="string" class="" style="text-align:center;width:100px!important">DOCUMENTO</th>
                    <th data-sort="string" class="thGrande" style="text-align:center;width:300px">MONEDA</th>
                    <th data-sort="float" class="" style="text-align:center; width:80px">SUB.TOTAL</th>
                    <th data-sort="float" class="" style="text-align:center; width:100px">IGV</th>
                    <th data-sort="float" class="" style="text-align:center; width:100px">TOTAL</th>
                    <th style="width:50px"></th>
                    <th style="width:50px"></th>
                    <th style="width:50px"></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

<div id="dialog-guias-pedido">
    <div>
        <table id="tabla-guias-pedido" class="highlight responsive-table table">
            <thead>
                <tr>
                    <th data-sort="int" class="thPequenio" style="text-align:center;width:30px">N</th>
                    <th data-sort="string" class="thGrande" style="text-align:center;width:80px">FECHA</th>
                    <th data-sort="string" class="" style="text-align:center;width:120px!important">DOCUMENTO</th>
                    <th data-sort="string" title="Cantidad de Paquetes" class="thGrande" style="text-align:center;width:120px">C. PAQUETES</th>
                    <th data-sort="float" class="" style="text-align:center;">ENCARGADO ENTREGA</th>
                    <th style="width:50px"></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>


<div id="div-imprimir-pedido" style="display: none;">
    <div style="font-family: Arial, Helvetica, sans-serif;height:100%;width:100%">
        <style>
            .textTablaImpresion {
                font-family: Arial, Helvetica, sans-serif;
                /*font-family: Arial,*/
                font-size: 10px !important;
            }

            .textContenedores {
                font-family: Arial, Helvetica, sans-serif;
            }

            .textNumeros {
                /*font-family: Trebuchet MS;*/
                font-family: Arial, Helvetica, sans-serif;
            }

            .rucEmpresaTransporte {
                text-align: left;
                display: inline-block;
                width: 2.5cm !important;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                margin-bottom: 0.3cm;
                font-size: 13px;
            }

            .espacioBlanco1centimetro {
                text-align: left;
                display: inline-block;
                width: 5cm !important;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                margin-bottom: 0.3cm;
                font-size: 13px;
            }

            .bordesTablaTfootProductos {
                font-family: Arial, Helvetica, sans-serif;
                border-right: 1px solid black;
                border-bottom: 1px solid black;
                border-left: 1px solid black;
            }

            .sinBordes {
                border: 0px;
            }

            .EspacioImagen {
                width: 13cm;
                height: 3cm;
            }

            .EspacioDatosEmpresaEmisora {
                width: 20cm;
                /*height: 3cm;*/
            }

            .EspacioTablaDatosVenta {
                width: 20cm;
                font-size: 10px;
            }

            .textoNegrita {
                font-weight: bold;
            }

            .bordesTablaIzquierdoDerecho td {
                border-left: 1px solid black;
                border-right: 1px solid black;
            }

            .bordesTotalesTabla td {
                border-left: 1px solid #000000;
                border-right: 1px solid #000000;
                border-top: 1px solid #000000;
                border-bottom: 1px solid #000000;
            }

            .bordesInferior tr {
                border-bottom: 1px solid black;
                border-collapse: collapse;
            }

            .EspacioTitulo {
                width: 6cm;
                border: 1px solid black;
                text-align: center;
                font-size: 15px;
                font-weight: bold;
                border-radius: 0px;
                margin-top: 30px;
                padding: 5px 0px;
            }

            .EspacioTituloSinTop {
                width: 6cm;
                border: 1px solid black;
                text-align: center;
                font-size: 15px;
                font-weight: bold;
                border-radius: 0px;
                /*margin-top: 30px;*/
                padding: 5px 0px;
            }

            .tamanoLetra {
                font-size: 12px;
                font-family: Arial, Helvetica, sans-serif;
            }

            .textoRepresentacion {
                font-size: 13px;
                width: 150px;
            }


            .DatosEmpresaEmisora {
                width: 10cm;
                height: 2.5cm;
                border-radius: 8px;
                border: 1px solid #000000;
            }

            .EspacioPartidaLlegada {
                width: 13.5cm;
                /*height: 3cm;*/
                /*border: 1px solid #000000;*/
                /*font-weight: bold;*/
            }

            .DatosDocumento {
                width: 5cm;
            }

            .EspacioPartidaLlegadaV2 {
                /*width: 20cm;*/
                width: 20cm;
                /*height: 3cm;*/
                border: 1px solid #000000;
                /*font-weight: bold;*/
            }

            .alinearCentro {
                text-align: center;
            }

            .bordes {
                border: 1px solid #000000;
            }

            .contenido-datos-generales {
                border: 1px solid #000000;
                width: 20cm;
                font-size: 10px;
                margin-bottom: 8px;
            }
        </style>

        <div style="width: 100%;">
            <div style=" margin-left: 0.5cm; height:4cm; vertical-align:bottom; display: flex; align-items: center">
                <div style="float: left;">
                    <table class="EspacioImagen">
                        <tr>
                            <td id="nombreClienteGuiaRemision" style="margin-top:0.5cm;float:left; display: inline">
                                <img id="logoEmpresa" src="~/Images/logo/@Session["UrlImagenEmpresa"]" style="height:90px;position:relative; top: -10px"/>
                            </td>
                        </tr>
                        <tr>
                            <td class="tamanoLetra textContenedores">
                                @Session["DIRECCION"]<br /> Telefonos: @Session["TELEFONOS"] | correo: @Session["CORREO"]
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="espacioBlanco1centimetro" style="width: 1cm !important; float: left;"></div>
                <div style="float: right: ;; vertical-align:bottom; border-radius: 10px">
                    <table class="EspacioTituloSinTop">
                        <tr>
                            <td class="textContenedores">R.U.C Nº @Session["RUC"]</td>
                        </tr>
                        <tr>
                            <td class="textContenedores">ORDEN DE PEDIDO</td>
                        </tr>
                        <tr>
                            <td id="imp-num-documento" class="textContenedores" style="color: red"></td>
                        </tr>
                    </table>
                </div>
                
            </div>
            <div style="width: 20cm; float: left;margin-bottom:0.2cm;margin-top:0.3cm; padding-left: 20px; display: flex; flex-direction: column;">
                <div class="" style="align-self: end;">
                    <table class="EspacioPartidaLlegada" style="width: 5.5cm;">
                        <tr >
                            <td class="tamanoLetra textContenedores" style="font-weight: bold; font-size: 10px;border-bottom: 0px solid black; width: 3.5cm; text-align: left; vertical-align: top;">FECHA DE RECEPCIÓN</td>
                            <td class="tamanoLetra textContenedores" style="font-size: 10px;vertical-align: top">:</td>
                            <td id="imp-fecha-recepcion" class="tamanoLetra textContenedores" style="font-weight: bold; font-size: 10px;"></td>
                        </tr>
                        <tr class="fila-entrega">
                            <td class="tamanoLetra textContenedores" style="font-weight: bold; font-size: 10px;width: 3.5cm !important; border-bottom: 0px solid black; vertical-align: top; ">FECHA DE ENTREGA</td>
                            <td class="tamanoLetra textContenedores" style="font-size: 10px;vertical-align: top; width: 0.2cm">:</td>
                            <td id="imp-fecha-atencion" class="tamanoLetra textContenedores" style="font-weight: bold; font-size: 10px;border-bottom: 0px solid black;"></td>
                        </tr>
                    </table>
                </div>
                <div class="contenido-datos-generales" style="float: left;">
                    <table class="EspacioPartidaLlegada" style="width: 100%;">
                        <tr>
                            <td class="tamanoLetra textContenedores textoNegrita" style="width: 2cm; text-align: left;">Razón Social</td>
                            <td class="tamanoLetra textContenedores" style="width: 0.5cm">:</td>
                            <td id="imp-razon-social" class="tamanoLetra textContenedores"></td>
                        </tr>
                        <tr>
                            <td class="tamanoLetra textContenedores textoNegrita" style="border-bottom: 0px solid black; width: 2cm; text-align: left; vertical-align: top;">Dirección</td>
                            <td class="tamanoLetra textContenedores" style="vertical-align: top">:</td>
                            <td id="imp-direccion" class="tamanoLetra textContenedores"></td>
                        </tr>
                        <tr>
                            <td class="tamanoLetra textContenedores textoNegrita" style="border-bottom: 0px solid black; width: 2cm; text-align: left; vertical-align: top;">RUC</td>
                            <td class="tamanoLetra textContenedores" style="vertical-align: top">:</td>
                            <td id="imp-ruc-cliente" class="tamanoLetra textContenedores"></td>
                        </tr>
                        
                    </table>
                </div>
                <div class="contenido-datos-generales" style="float: left;">
                    <table class="DatosDocumento" style="width: 100%;">
                        <tr>
                            <td class="tamanoLetra textContenedores textoNegrita" style="width: 2cm !important; border-bottom: 0px solid black; vertical-align: top;">Solicitante</td>
                            <td class="tamanoLetra textContenedores" style="width: 0.5cm; ">:</td>
                            <td id="imp-encargado" class="tamanoLetra textContenedores" style=" border-bottom: 0px solid black;"></td>
                        </tr>
                        <tr>
                            <td class="tamanoLetra textContenedores textoNegrita" style="width: 2cm !important; border-bottom: 0px solid black; vertical-align: top; ">For.Pedido</td>
                            <td class="tamanoLetra textContenedores" style="vertical-align: top">:</td>
                            <td id="imp-forma-pedido" class="tamanoLetra textContenedores" style=" border-bottom: 0px solid black;"></td>
                        </tr>
                        
                    </table>
                </div>
                <div class="">
                    <table class="EspacioPartidaLlegada" style="width: 100%;">
                        <tr>
                            <td class="tamanoLetra textContenedores textoNegrita" style="width: 4cm !important; border-bottom: 0px solid black; vertical-align: top; ">Encargado de la Recpción</td>
                            <td class="tamanoLetra textContenedores" style="vertical-align: top"></td>
                            <td id="imp-encargado-recepcion" class="tamanoLetra textContenedores" style=" border: 1px solid black; padding: 3px 10px"></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div>
            <style>
                .stiloDetraccionDiv {
                    /*17*/
                    height: 10cm;
                }

                .stiloDetraccionTable {
                    /*18.5*/
                    height: auto;
                }

                .stiloCuadroInformacionAdicional {
                    display: none;
                }
            </style>
            <div style="float: left; width: 100%; margin-left: 0.5cm;margin-top:0.3cm" class="stiloDetraccionDiv">
                @* div--->17cm   15.9 ||tabla--->18.5cm   17 *@
                <table id="imp-tabla-productos" style="border-collapse: collapse;"
                    class="EspacioTablaDatosVenta bordesTablaIzquierdoDerecho textTablaImpresion stiloDetraccionTable">
                    <thead>
                        <tr class="textoNegrita">
                            <th style="width: 1cm; border: 1px solid black;  padding: 6px 10px">ITEM</th>
                            <th style="width: 12cm; border: 1px solid black; padding: 6px 10px">DESCRIPCIÓN</th>
                            <th style="width: 2cm; border: 1px solid black;  padding: 6px 10px">CANT</th>
                            <th style="width: 5cm; border: 1px solid black;  padding: 6px 10px">OBSERVACIÓN</th>                            
                        </tr>
                    </thead>
                    <tbody style="vertical-align: top; border-bottom: 1px solid black;" class="tamanoLetra">
                        
                    </tbody>
                </table>
            </div>
        </div>
        <div>
            <table class="tamanoLetra" style="padding-top:11px;position: relative; top: 0; margin-left: 0.5cm;height:30px;width:11.5cm">
                <tbody>
                    <tr>
                        <td valign="top" colspan="2" style="font-weight: bold;">CONDICIONES DE VENTA PARA ESTE PEDIDO</td>
                    </tr>
                    <tr style="display: flex; align-items: center; margin-left: 20px">
                        <td valign="top" style="font-weight: bold; width 30px">
                            <div style="width: 15px; height: 15px; border: 1px solid #000">
                            </div>
                        </td>
                        <td valign="top" style="font-weight: bold;">
                            <span style="margin-left: 10px">FACTURA</span>
                        </td>
                    </tr>
                    <tr style="display: flex; align-items: center; margin-left: 20px">
                        <td valign="top" style="font-weight: bold; width 30px">
                            <div style="width: 15px; height: 15px; border: 1px solid #000">
                            </div>
                        </td>
                        <td valign="top" style="font-weight: bold;">
                            <span style="margin-left: 10px">RECIBO</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        @* antes 3 *@
        <div style="position: relative; top: 3cm;">
            <div style=" margin-left: 0.5cm; height: 4cm;">
                <div style="float:left;">
                    <table class="EspacioPartidaLlegadaV2">
                        <tbody>
                            <tr>
                                <td class="textoRepresentacion textContenedores">
                                    Encargado de la Entrega
                                </td>
                                <td style="text-align:right; width: 40px">
                                    :
                                </td>
                                <td style="text-align:left;">
                                    ..................................................................................................................
                                </td>
                            </tr>
                            <tr>
                                <td class="textoRepresentacion textContenedores">
                                    Cargo
                                </td>
                                <td style="text-align:right; width: 40px">
                                    :
                                </td>
                                <td style="text-align:left;">
                                    ..................................................................................................................
                                </td>
                            </tr>
                            <tr>
                                <td class="textoRepresentacion textContenedores">
                                    Fecha de la Entrega
                                </td>
                                <td style="text-align:right; width: 40px">
                                    :
                                </td>
                                <td style="text-align:left;">
                                    ........../............./.........................................................................................
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="dialog-anular-pedido" class="modal modal-fixed-footer ui-dialog-content ui-widget-content" style="display: none;">
    <div class="">
        <div class="form-horizontal margenTopParaModal" style="text-align: center;" role="form">
            <div>
                <img src="../Images/icoInterroga40x40.png">&nbsp;&nbsp;&nbsp;
                <span>Está seguro de realizar la operación?</span>
            </div>
            <p>Motivo</p>
            <div>
                <textarea id="txt-motivo" style="width:100%;"></textarea>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/Views_Script/Venta/GestionPedido.js@("?v="+ DateTime.Now.ToString("yyyyMMddhmmss"))" type="module"></script>